# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
Backup
*.pdb
*.vshost.exe
*.manifest
*.suo
*.user
/*.dll
/*.exe
/*.config
/Dependencies/OpenTK/Binaries
/OpenTK.xml
/OpenTK.GLControl.xml
/Dependencies/OpenTK/Source/OpenTK/OpenTK.xml
/Dependencies/OpenTK/Source/GLControl/OpenTK.GLControl.xml
/DynamicGame.cs
/test.png

